<div class="container">
    <h3> My First Page : View1</h3>
    Your Name: 
    <br/>
    <input type="text" data-ng-model="filter.name" />
    <br />

    <ul>
        <li data-ng-repeat="number in numbers | filter:filter.name | orderBy:'v'">
            {{ number.nam }} = {{ number.v}}
        </li>
    </ul>
    <br />
    If your are not an existing user, add your details below.
    <br />

    Customer name : 
    <br />
    <input type="text" data-ng-model="newCustomer.name" />
    <br />
    Customer City :
    <br />
    <input type="text" data-ng-model="newCustomer.city" />
    <br />
    <button type="button" data-ng-click="addCustomer()">Add me</button>
    
    <a href="#/Nishanth">Take me to View2</a>

</div>